nav.navbar.navbar-default.navbar-fixed-top.nav-barra-topo
    div.container-fluid(ng-controller="NavBarTopCtrl as model")
        div.navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(ui-sref="main.search")
                span
                    img.appLogo(src="assets/images/logo.svg", alt="Livros & +Livros")
                span Livros & +Livros
        div.navbar-collapse.collapse(id="navbar")

            ul.nav.navbar-nav.navbar-right
                li.dropdown(ng-show="model.isAuthenticated")
                    a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false")
                        | Gerir
                        span.caret
                    ul.dropdown-menu(role="menu")
                        li.dropdown-header Livros
                        li
                            a(ui-sref="main.bookrecord({type:'livro',reference:'new',slug:''})") Adicionar
                        li.divider
                        li.dropdown-header ...
                li.dropdown
                    a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false")

                        span(ng-hide="model.isAuthenticated") Perfil
                        span(ng-show="model.isAuthenticated")
                            span {{model.user.name || model.user.email}}
                        span.caret
                    ul.dropdown-menu.profile(role="menu")
                        li(ng-hide="model.isAuthenticated")
                            a(ng-click="model.googleAuthenticate()", href="#")
                                i.fa.fa-google-plus | Entrar conta Google
                        li(ng-show="model.isAuthenticated")
                            span
                                img(ng-show="!!model.user.photo", ng-src="{{model.user.photo}}", alt="{{model.user.name}}")
                            span
                                a(ng-click="model.googleAuthenticate()" href="#")
                                    i.fa.fa-google-plus | Terminar Sessão
