.row
    //x .col-xs-12(ui-view="booksearch-panel")
    .col-xs-12
        //x ng-include(src="'app/booksearch/jade/booksearchLayout.html'")
        ng-include(src="'app/booksearch/jade/booksearchLayout.html'")
.row
    //x .col-xs-12(ui-view="booksearch-results")
    div(ui-view="").col-xs-12
