.row.dynamic-layout-item.element-item(xdynamic-layout-centerH dynamic-layout-fullWidth, class="search-infinite-scroll {{::it.loadtype}}")
    | {{::it.loadmessage}}
    img.element-appear(prefix-event-name="booksearch-{{::it.loadtype}}", src="/assets/images/loading.gif")
