.row
    .col-xs-12
        div.panel-group.book-search-form-layout(id="searchformaccordion" role="tablist" aria-multiselectable="false")
            div.panel.booksearch
                div
                    span(role="tab")
                        button.btn.btn-default(id="toggleFreeSearch", type="button" data-toggle="collapse" data-parent="#searchformaccordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne") Pesquisa Livre
                        button.btn.btn-default(id="toggleAdvSearch",type="button" data-toggle="collapse" data-parent="#searchformaccordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") Pesquisa Avançada
                    span(role="tab")
                        button.btn.btn-default(id="toggleFilterSearch",type="button" data-toggle="collapse" data-parent="#searchfilteraccordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree") Filtrar Resultados
                div.panel-collapse.collapse(id="collapseOne" role="tabpanel" aria-labelledby="toggleFreeSearch")
                    div.row.nomargins.layout-tab
                        div(ui-view="searchfree")
                        //ng-include(src="'app/booksearch/jade/booksearchFreeForm.html'")
                div.panel-collapse.collapse(id="collapseTwo" role="tabpanel" aria-labelledby="toggleAdvSearch")
                    div.row.nomargins.layout-tab
                        div(ui-view="searchadvanced")
                        //ng-include(src="'app/booksearch/jade/booksearchAdvancedForm.html'")
        div.panel-group(id="searchfilteraccordion" role="tablist" aria-multiselectable="false")
            div.panel.booksearch
                div.panel-collapse.collapse(id="collapseThree" role="tabpanel" aria-labelledby="toggleFilterSearch")
                    div.row.nomargins.layout-tab
                        div(ui-view="searchfiltercat")
                        //ng-include(src="'app/booksearch/jade/booksearchFilterCatForm.html'")
        //.text-center(ng-hide="vm.doneInit")
        //    img(src="/assets/images/loading.gif", style="width:50px")
.row
    .col-xs-12(ui-view="")


