.col-xs-12(ng-controller="BookSearchAdvancedFormCtrl as vm")
    .row
        form(id="booksearchAdvancedForm", name="booksearchAdvancedForm", role="search", novalidate, ng-submit="vm.search(booksearchAdvancedForm)")
            .col-xs-12.col-sm-6
                .form-group
                    div.input-group
                        span.input-group-addon(id="titulo")
                        input.form-control(type="text" placeholder="pesquisar por título", ng-model="vm.criteria.title")
                .form-group
                    div.input-group
                        span.input-group-addon(id="autor")
                        input.form-control(type="text" placeholder="pesquisar por autor", ng-model="vm.criteria.authors")
                .form-group
                    div.input-group
                        span.input-group-addon(id="asunto")
                        input.form-control(type="text" placeholder="pesquisar por assunto", ng-model="vm.criteria.subject")
            .col-xs-12.col-sm-6.nopaddings
                .form-group
                    div.input-group
                        span.input-group-addon(id="collection")
                        input.form-control(type="text" placeholder="pesquisar por colecção", ng-model="vm.criteria.collection")
                .form-group
                    div.input-group
                        span.input-group-addon(id="categoria")
                        //tpl="'<span id=\"categoria\" class=\"input-group-addon\"></span><input type=\"text\" ng-model=\"model\" placeholder=\"{{placeholder}}\" class=\"typeahead form-control {{classinput}}\"/>'",
                        warp-autocomplete-typeaheadjs(id="panel-searchcat-dropdown-menu", model="vm.criteria.categories" donotclearvalue="true", classinput="input-searchcat", datasource="categories", placeholder="pesquisar por categoria", onselected="vm.onSelected",onclosed="vm.onClosed", remote="{{vm.urlRemote}}")
                        //input.form-control(type="text" placeholder="pesquisar por categoria" aria-describedby="categoria")
                .form-group
                    div.checkbox
                        label
                            input(type="checkbox", ng-model="vm.firstEdition", aria-label="1ªs Edições")
                            | 1ªs Edições
                span.pull-right.bottom
                    button.btn.btn-primary(type="submit", ng-disabled="vm.empty(booksearchAdvancedForm)")
                        | Procurar
