.col-xs-12(ng-controller="BookSearchAdvancedFormCtrl as vm")
    form(id="booksearchAdvancedForm" name="booksearchAdvancedForm" role="search", ng-submit="vm.search()")
    .row
        .col-xs-12.col-sm-6
            //div.testeimage
            .form-group
                div.input-group
                    span.input-group-addon(id="titulo") Título
                    input.form-control(type="text" placeholder="pesquisar título" aria-describedby="titulo")
            .form-group
                div.input-group
                    span.input-group-addon(id="autor") Autor
                    input.form-control(type="text" placeholder="pesquisar autor" aria-describedby="autor")
            .form-group
                div.input-group
                    span.input-group-addon(id="asunto") Assunto
                    input.form-control(type="text" placeholder="pesquisar assunto" aria-describedby="titulo")
                    //span.input-group-addon(id="pesquisa-livre") Pesquisa Livre:
                    //input(id="booksearchfreeform-inputsearch" type="text",aria-describedby="pesquisa-livre", placeholder="procurar no título, autor, assunto, idioma ou palavras-chave...",data-ng-model="vm.inputsearch").form-control
                    //span.input-group-btn.booksearchfreeform
                    //    //ui-sref="main.search.results({term:vm.inputsearch})"
                    //    .button(type="button", ng-click="vm.search()").btn.btn-primary
                    //        | Procurar
        .col-xs-12.col-sm-6
            .form-group
                div.checkbox
                    label
                        input(type="checkbox")
                        | 1ªs Edições
            span.pull-right.bottom
                input.btn.btn-primary(type="submit" value="Procurar")
