//tirei
//.col-xs-12(ng-controller="BookSearchAdvancedFormCtrl as vm")
.col-xs-12

    .row
        form(id="booksearchAdvancedForm", name="booksearchAdvancedForm", role="search", novalidate, ng-submit="vm.search(booksearchAdvancedForm)", ng-model-options="{ debounce: 150 }")
            .col-xs-12.col-sm-6
                .form-group
                    div.input-group
                        span.input-group-addon(id="titulo")
                        input.form-control(type="text" placeholder="pesquisar por título", ng-model="vm.criteria.title")
                .form-group
                    div.input-group
                        span.input-group-addon(id="autor")
                        input.form-control(type="text" placeholder="pesquisar por autor", ng-model="vm.criteria.authors")
                .form-group
                    div.input-group
                        span.input-group-addon(id="asunto")
                        input.form-control(type="text" placeholder="pesquisar por assunto", ng-model="vm.criteria.subject")
            .col-xs-12.col-sm-6.nopaddings
                .form-group
                    div.input-group
                        span.input-group-addon(id="collection")
                        input.form-control(type="text" placeholder="pesquisar por colecção", ng-model="vm.criteria.collection")
                .form-group
                    div.input-group
                        span.input-group-addon(id="categoria")
                        angular-typeaheadjs(
                            angty-onchange="vm.selectCategories.autocompleteEvents.onchange",
                            angty-options="{{vm.selectCategories.options}}", angty-ttoptions="{{vm.selectCategories.ttoptions}}")
                            input.typeahead(id="selectCategories", type="text", placeholder="pesquisar por categoria" ng-model="vm.criteria.categories")


                .form-group
                    div.checkbox

                        input(type="checkbox",id="firstEdition",name="firstEdition", ng-model="vm.criteria.edition",aria-label="1ªs Edições",placeholder="1ªs Edições")
                        label(for="firstEdition") 1ªs Edições

                        //label
                        //    input(type="checkbox", ng-model="vm.firstEdition", aria-label="1ªs Edições")
                        //    | 1ªs Edições
                span.pull-right.bottom
                    button.btn.btn-primary(type="submit", ng-disabled="vm.empty(booksearchAdvancedForm)")
                        | Procurar
