//Ctrl:Results from search
//(ng-controller="BookSearchResultCtrl as vm")
.row
    //.col-xs-12
    //    div.panel.panel-default
    //        div.panel-heading
    //            h4 Livros em Destaque
    //        div.panel-body
    //            ng-include(src="'app/booksearch/jade/booksearchFilterCatForm.html'")


.row
    .col-xs-12
        div.panel-body.panelresultsbody(dynamic-layout items="vm.results",filters="vm.filters",rankers="vm.rankers",defaulttemplate="'app/booksearch/jade/booksearchResultItem.html'")
