window-scroll(window-scroll-timeout="150", window-scroll-event="booksearchresultsscroll")
div(dynamic-layout, items="vm.results",filters="vm.filters",rankers="vm.rankers",defaulttemplate="'app/booksearch/jade/booksearchResultItem.html'")
