.col-xs-12(ng-controller="BookSearchFreeFormCtrl as vm")
    form(id="booksearchFreeForm" name="booksearchFreeForm" role="search", ng-submit="vm.search()")
        .form-group
            div.input-group
                span.input-group-addon(id="pesquisa-livre") Pesquisa Livre:
                input(id="booksearchfreeform-inputsearch" type="text",aria-describedby="pesquisa-livre", placeholder="procurar no título, autor, assunto, idioma ou palavras-chave...",data-ng-model="vm.inputsearch").form-control
                span.input-group-btn.booksearchfreeform
                    //ui-sref="main.search.results({term:vm.inputsearch})"
                    .button(type="button", ng-click="vm.search()").btn.btn-primary
                        | Procurar
