.row.dynamic-layout-item.element-item(ng-mouseleave="it.setAuth(false)",ng-mouseenter="it.setAuth(true)", ng-class="{'recentload': it.isnew}")
    div.pull-left.editar-lapis(ng-show="it.isAuthenticated")
        a(ui-sref="main.bookrecord({type:'livro',reference:it.reference,slug:it.slug})", title="Editar", aria-label="Editar")
            h4
                i.fa.fa-pencil
    div(ng-class="{'hidden': !it.price}")
        div.block-price {{::it.price}} €
        div.block-price-icons-triangshadow
    div.panel.panel-default
        div.panel-heading.block-title
            //|{{it.reference}}
            a(ui-sref="main.bookdetail({type:'livro',reference:it.reference,slug:it.slug})")
                span.title.appbooklink {{::it.title}}
            div.block-authors(ng-class="{'hidden': !it.authors || it.authors.length===0}")
                //span(ng-repeat="author in ::it.authors")
                a(ng-repeat="author in ::it.authors",ui-sref="main.search.advresults({type:\"advanced\",limit:25,title:\"-\",authors:author,subject:\"-\",collection:\"-\",categories:\"-\",edition: \"-\"})")
                    span.fielditem.appbooklink {{::author}}
                    br
        div.panel-body
            ul.list-group.block-edicao-container
                li.list-group-item.block-edicao
                    span
                    span(ng-class="{'hidden': !it.editionNumber}") {{::it.editionNumber}} Edição,
                    span(ng-class="{'hidden': !it.editionYear && !it.editionCountry}") {{::it.editionYear}} {{::it.editionCountry}}
                    span(ng-class="{'hidden': !it.editionPublisher}")
                        br
                        | {{::it.editionPublisher}}
                    span.hidden-xs(ng-class="{'hidden': !it.editionISBN}")
                        br
                        | ISBN:{{::it.editionISBN}}
            div.text-center
                a.nocover(ng-show="it.images.length==0",ui-sref="main.bookdetail({type:'livro',reference:it.reference,slug:it.slug})")
                    //img
                    //.block-image.nocover
            carousel.carousel(ng-show="it.images.length>0",interval="0")
                slide(ng-repeat="foto in ::it.images")
                    a(ui-sref="main.bookdetail({type:'livro',reference:it.reference,slug:it.slug})")
                        img.block-image(ng-src="{{::foto}}")

