.row.dynamic-layout-item.element-item(class="search-infinite-scroll-{{::it.loadtype}}")
    | {{::it.loadmessage}}
    img.element-appear(prefix-event-name="booksearch-{{::it.loadtype}}", src="/assets/images/loading.gif")
