.row.dynamic-layout-item.element-item-list(ng-mouseleave="it.setAuth(false)",ng-mouseenter="it.setAuth(true)", ng-class="{'recentload': it.isnew}")
    .col
        div.pull-left.editar-lapis(ng-show="it.isAuthenticated")
            a(ui-sref="main.bookrecord({type:'livro',reference:it.reference,slug:it.slug})", title="Editar", aria-label="Editar")
                h4
                    i.fa.fa-pencil
        .row
            a(ui-sref="main.bookdetail({type:'livro',reference:it.reference,slug:it.slug})")
                span.title.appbooklink {{::it.title}}
        .row
            a(ng-repeat="author in ::it.authors",ui-sref="main.search.advresults({type:\"advanced\",limit:25,title:\"-\",authors:author,subject:\"-\",collection:\"-\",categories:\"-\",edition: \"-\"})")
                span.fielditem.appbooklink {{::author}}

