.col-xs-12(ng-controller="BookSearchAdvancedFormCtrl as vm")

    .row
        form(id="booksearchAdvancedForm", name="booksearchAdvancedForm", role="search", novalidate, ng-submit="vm.search(booksearchAdvancedForm)", ng-model-options="{ debounce: 150 }")
            .col-xs-12.col-sm-6
                .form-group
                    div.input-group
                        span.input-group-addon(id="titulo")
                        input.form-control(type="text" placeholder="pesquisar por título", ng-model="vm.criteria.title")
                .form-group
                    div.input-group
                        span.input-group-addon(id="autor")
                        input.form-control(type="text" placeholder="pesquisar por autor", ng-model="vm.criteria.authors")
                .form-group
                    div.input-group
                        span.input-group-addon(id="asunto")
                        input.form-control(type="text" placeholder="pesquisar por assunto", ng-model="vm.criteria.subject")
            .col-xs-12.col-sm-6.nopaddings
                .form-group
                    div.input-group
                        span.input-group-addon(id="collection")
                        input.form-control(type="text" placeholder="pesquisar por colecção", ng-model="vm.criteria.collection")
                .form-group
                    div.input-group
                        //| {{vm.criteria.categories}}
                        span.input-group-addon(id="categoria")
                        //| {{vm.criteria.categories}}
                        angular-typeaheadjs(angty-options="{{vm.options}}" angty-ttoptions="{{vm.ttoptions}}")
                            input(placeholder="pesquisar por categoria" ng-model="vm.criteria.categories").typeahead
                        //angular-typeaheadjs(
                        //remote="{{vm.urlRemote}}",
                        //prefetch="{{vm.urlPrefetch}}",
                        //cssinput="searchadvcat",
                        //model="vm.criteria.categories",
                        //clearvalue="false",
                        //classinput="input-searchcat",
                        //datasource="categories",
                        //placeholder="pesquisar por categoria",
                        //onselected="vm.onSelected",
                        //onclosed="vm.onClosed")

                .form-group
                    div.checkbox
                        label
                            input(type="checkbox", ng-model="vm.firstEdition", aria-label="1ªs Edições")
                            | 1ªs Edições
                span.pull-right.bottom
                    button.btn.btn-primary(type="submit", ng-disabled="vm.empty(booksearchAdvancedForm)")
                        | Procurar
