.row.dynamic-layout-item.element-item
    div 25 €
    div.panel.panel-default
        div.panel-heading
            a(ui-sref="main.bookdetail({bookid:it._id})")
                strong.panel-title.element-item-title {{::it.title}}
            div.element-item-authors
                span(ng-repeat="author in ::it.authors").element-item-author {{::author}}
        div.panel-body.small
            ul.list-group
                li.list-group-item.boxedicao
                    span
                    span {{::it.editionNumber}}&nbsp;Edição,&nbsp;
                    span {{::it.editionYear}},&nbsp;
                    span {{::it.editionCountry}}
                    br
                    span {{::it.editionPublisher}}
                    br
                    span ISBN:{{::it.editionISBN}}
            carousel.carousel(interval="0")
                slide(ng-repeat="foto in ::it.images")
                    a(ui-sref="main.bookdetail({bookid:it._id})")
                        img(ng-src="{{::foto}}")

