.col-xs-12.panel-filtercat(ng-model-options="{ debounce: 150 }")
    .row
        .col-xs-12.col-sm-5.col-lg-3.nopaddings
            angular-typeaheadjs(angty_options="{{vm.options}}" angty_ttoptions="{{vm.ttoptions}}"  angty-onselect="vm.onSelected")
                input(type="text" placeholder="filtrar por categorias").typeahead


        .col-xs-12.col-sm-7.col-lg-9.panel-filtercatlabel-group
            div.panel-filtercat-label(ng-repeat="item in vm.filtro")
                | {{item}}
                span.badge.labelcat-badge(ng-click="vm.removeCat(item)") x
