.col-xs-12.panel-group.nopaddings(book-search-form-layout, id="searchformaccordion" role="tablist" aria-multiselectable="false")
    div.panel.panel-default
        div.panel-heading(role="tab" id="headingOne")
            h6
                button.btn.btn-default(id="toggleFreeSearch", type="button" data-toggle="collapse" data-parent="#searchformaccordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne") Pesquisa Livre
                button.btn.btn-default(id="toggleAdvSearch",type="button" data-toggle="collapse" data-parent="#searchformaccordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") Pesquisa Avançada
        div.panel-collapse.collapse(id="collapseOne" role="tabpanel" aria-labelledby="headingOne")
            div.panel-body
                .row
                    ng-include(src="'app/booksearch/jade/booksearchFreeForm.html'")
        div.panel-collapse.collapse(id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo")
            div.panel-body
                .row
                    ng-include(src="'app/booksearch/jade/booksearchAdvancedForm.html'")
