
.container-fluid(id="maincontent")
    .row
        .col-xs-12

    .row

        .col-md-2.hidden-xs.hidden-sm(ui-view="main-left")
            //state-vis(style="position:fixed; bottom: 0;")
            //ng-include(src="'app/navbar/left/layout.html'")

        .col-xs-12.col-md-8
            .row

                .col-xs-12(ui-view="main-content")


            .row
                .col-xs-12(ui-view="main-content-bottom")


        .col-xs-12.col-md-2(ui-view="main-right")

            //ng-include(src="'app/navbar/right/layout.html'")



//ui dialog comentado
//include ../../components/books/manager/bookRecordForm
