.modal-header
    h4.modal-title {{model.title}}
.modal-body(ng-bind-html="model.message")
.modal-footer
    button.btn.btn-default(ng-click="model.confirm()") Sim
    button.btn.btn-default(ng-click="model.cancel()") Não
