.container-fluid(id="maincontent")
    .row
        .col-sm-2.col-md-2.hidden-xs
            ng-include(src="'app/navbar/left/layout.html'")

        .col-xs-12.col-sm-10.col-md-8

            .row
                ng-include(src="'app/booksearch/jade/booksearchLayout.html'")
            .row(ui-view="")
                .col-xs-12(ui-view="booksearch-results")
        .col-xs-12.col-md-2.hidden-xs
            ng-include(src="'app/navbar/right/layout.html'")





//ui dialog comentado
//include ../../components/books/manager/bookRecordForm
