html {
  #convert-px(to_em, font-size, @main-textsize-px, 16);
}

body {
  font-family: @main-font;
  color: @main-textcolor;
  #convert-px(to_em, padding-top, 51);
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 5px;
  margin-bottom: 5px;
}
a {
  color: hsl(240, 4%, 39%);
}
a, a:visited, a:hover, a:focus {
  color: hsl(240, 4%, 39%);
}
a:hover {
  //text-decoration: no-underline !important;
}

.navbar {
  margin-bottom: 0px!important;
}
.nav-barra-topo {
  background-color: hsl(248, 11%, 90%);
}

@media (min-width: 768px) {
  #maincontent {
    //margin-top: 45px;
  }
  .nav-barra-topo {
    margin-top: 45px;
  }
  .nav-barra-topo > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.carousel-indicators {
  bottom: -27px;
}
.carousel-control {
  display: none;
}
.carousel-indicators li {
  border: 1px solid hsl(0, 10%, 20%);
  background-color: #000;
  background-color: hsla(0, 5%, 7%, 0.16);
}
.slide.ng-leave {
  position: relative;
}
.slide.ng-enter {
  position: absolute;
}
.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: -webkit-transform 0.2s ease-in, opacity 0.2s ease-in;
  -moz-transition: -moz-transform 0.2s ease-in, opacity 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in, opacity 0.2s ease-in;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}
.slide.ng-enter, .slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleX(0.0001);
  -o-transform: scaleX(0.0001);
  transform: scaleX(0.0001);
  opacity: 0;
}
.slide, .slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 1;
}

/*
* Toastr Changes
*/
.toast-success {
  //#refactcolor(10%, maisescuro, background-color, @hsl-secondary-2-2, @important:~'!important');
  background-color: #51a351;
}
#toast-container > div.toast-success {
  color: @branco !important;
}
.zindex100 {
  z-index: 100;
}
.pointer {
  cursor: pointer;
}
/*
* Bootstrap Changes
*/
.panel-default > .panel-heading {
  background-color: hsla(250, 17%, 74%, 0.39);
}
.panel-heading {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 5px;
}
.panel-group {
  margin-bottom: 5px;
}
.form-group {
  margin-bottom: 5px;
}
.form-control {
  #convert-px(to_em, font-size, 12, @main-textsize-px);
}
.panel-body {
  padding: 5px;
}
.btn {
  margin-right: 2px;
  margin-left: 2px;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
}
.appbooklink:hover {
  border-bottom: 1px dashed #0a0a0a;
  cursor: pointer;
}
button[aria-expanded="true"] {
  color: hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 90%);
  border-color: hsl(0, 0%, 68%);
}
