//
    Created by Joao Carvalho on 22-01-2015.
//**** Do not delete
//**** Do not change structure parent-child element
//dynamic styles included in the app that are not triggered with grunt uncss task for build
li.dropdown.open


div.collapsing.collapse.collapsed.fade.in
    div(id="toast-container")
        div.toast-success

.open


.modal-open
    .modal
    .modal.in
        .modal-dialog
    .modal.fade
        .modal-dialog
    .modal-backdrop
    .modal-backdrop.in
    .modal-backdrop.fade
    .modal-content
    .fade.in
.fade.in
.fade
.in
.on-focus
.slideIn
.disabled
.active
.hidden
.hover
.twitter-typeahead
.typeahead
.tt-query
.typeahead
.tt-input
.tt-hint
.tt-query
.tt-menu
.tt-suggestion
.tt-cursor
.tt-dataset
.tt-dataset-author
.tt-empty
