//
    Created by Joao Carvalho on 22-01-2015.

//**** Do not delete
//**** Do not change structure parent-child element
//dynamic styles included in the app
//that are not triggered with grunt uncss task for build

div
    div(id="toast-container")
        div.toast-success
